email-validator
flask
flask-babel
flask-jwt-extended
flask-sqlalchemy
gunicorn
openai
psycopg2-binary
sqlalchemy
werkzeug
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
